@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

iframe {
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}

#achievement-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;

}

#title-a {
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    color: rgb(240, 145, 3);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 50px;
}
#a-detail{
    position: relative;
    font-size: 25px;

}

/* d3 */
#y-axis, #x-axis{
    
    color:rgb(143, 63, 3);
    stroke-width: 0.5vw;
    font-size: 1vw;
    transform: translateZ(-100);
}

#Cscroll{
    transform: rotate(-1deg);
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}
#Oscroll{
    transform: rotate(-1deg);
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}
#arrowhead{
    fill:rgb(143, 63, 3);
    stroke: rgb(143, 63, 3);
    z-index:-25;
}
#line{
    stroke-width: 0.7vw;
    fill:none;
    stroke: rgb(143, 63, 3);
    z-index:-25;
}
#point{
    z-index:25;
}
#t-years{
    transform: rotate(270deg);
    position: absolute;
    top:25vw;
    left:20vw;
    font-size:1.5vw;
    z-index:-100;
}
#t-age{
    position: absolute;
    top:46vw;
    left:46vw;
    font-size:1.5vw;
    z-index: -100;

}
@media (max-width: 800px) {
    #title-a{
        font-size:35px;
    }
    #a-detail{
        font-size:3vw ;
    }
    #y-axis, #x-axis{
        stroke-width: 1vw;
        font-size: 15px;
    }
    
    #line{
        stroke-width: 1vw;
    }
    #t-years{
        top:45vw;
        left:-2.5vw;
        font-size:2.5vw;
    }
    #t-age{
        top:85vw;
        left:36vw;
        font-size:2.5vw;
    
    }
}