#footer-section{
    position: relative;
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
#accomplishment-contact{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:5vw;
}
#accomplishment{
  width: 50vw;
  display: flex;
}
#accomplishment div{
  width:30%;
  color:chocolate;
}

#accomplishment div p{
  font-size: 25px;
}


#accomplishment-container #desc{
  margin-top: 20px;
  position: relative;
  padding:10px 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 50vw;
}

#contactForm{
  font-size:25px;
  width:35vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: left;
  font-size:25px;
  gap:10px;
  color:chocolate;
}
#contactForm input, #contactForm textarea, #contactForm button{
  font-size:18px;
  padding:5px 15px;
  border-radius: 10px;
  border: 1px solid black;
}
#contactForm input:focus, #contactForm textarea:focus{
  outline: none;
  border: none;
}
#contactForm button{
  background-color: rgba(165, 117, 55, 0.925);
}
#contactForm button:hover{
  background-color: rgb(225, 198, 138);
  font-weight: 800;
}
#contact-channels{
  margin-top:50px;
  width:100vw;
  background-color: rgba(165, 117, 55, 0.925);
}
#contact-channels i{
  font-size:30px;
  padding:5px 7vh;
  color: rgb(0, 0, 0);
}
#contact-channels i:hover{
  font-size:30px;
  color: rgb(255, 255, 255);
}
#copyright{
  font-size:20px;
  padding:10px;
}


@media (max-width:800px){
  
#accomplishment-contact{
  flex-direction: column;
}
#accomplishment-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#accomplishment{
  align-items: center;
  justify-content: center;
  width:100vw;
}

#accomplishment div p{
  font-size: 20px;
}

#accomplishment-container #desc{
  width: 100vw;
}
#contactForm{
  width:80vw;
}
#contactForm button{
  width: 40vw;
}
#contact-channels{
  Padding:5px 5px;
}
#contact-channels i{
  font-size:25px;
  padding:5px 25px;
}
#copyright{
  font-size:15px;
}
}