#skills-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;

}

#title-s {
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    color: rgb(240, 145, 3);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 50px;
}
#s-detail{
    position: relative;
    font-size: 25px;
}
#s-cards{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin:20px;
 flex-wrap: wrap;
 gap:30px;
}
.scard{
    position: relative;
    overflow: hidden;
    width:400px;
    height:350px;
    background-color: rgba(255, 255, 255, 0.1596);
    backdrop-filter: blur(1000px);
    border-radius: 20px;
    padding:20px;
}


.scard::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
    background: linear-gradient(rgba(255, 255, 255, 1) 30%, rgb(136, 77, 0));
    animation: rotate 3s linear infinite;
  }
  
  .scard::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #f1e1e1;
    border-radius: 15px;
    z-index: -100;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


#name{
    font-size:25px;
    padding:5px 0px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(165, 117, 55, 0.925);
    border-radius: 10px;
}
#detail{
    margin-top: 10px;
    text-align: justify;
}
#tools{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    padding:5px 10px;
    color:white;
}
#tools p{
    background-color: rgba(165, 117, 55, 0.925);
    padding:5px 10px;
    border-radius: 10px;
    width: 150px;
}
#line{
    width:120px;
    height: 5px;
    background-color: rgba(165, 117, 55, 0.925);
}
#tools i{
    font-size: 15px;
}
#toolkit{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-size: 10px;
}
#toolkit img{
    height:35px;
}
@media (max-width:700px){
    #title-s {
        font-size: 35px;
    }
    #s-detail{
        font-size: 3vw;
    }
}